
@if (ViewData.ModelState.ErrorCount > 0)
{
    <div class="alert alert-danger alert-dismissible bg-danger text-white border-0 fade show" role="alert">
        <div style="padding-top: 10px;" asp-validation-summary="All"></div>
    </div>
}